<htm>
    <header>
        <script>

const cross_origin_script_url = "https://thabot47.gitlab.io/webworkerlocation/worker.js";

const worker_url = getWorkerURL( cross_origin_script_url );
console.log(worker_url);
 const worker = new Worker( worker_url );
worker.onmessage = (evt) => console.log( evt.data );
URL.revokeObjectURL( worker_url );

// Returns a blob:// URL which points
// to a javascript file which will call
// importScripts with the given URL
function getWorkerURL( url ) {
  const content = `importScripts( "${ url }" );`;
  return URL.createObjectURL( new Blob( [ content ], { type: "text/javascript" } ) );
}



navigator.geolocation.getCurrentPosition(function(location) {
  console.log(location.coords.latitude);
  console.log(location.coords.longitude);
  console.log(location.coords.accuracy);
});

        </script>

    </header>

    <body>
        <h1>test worker get location</h1>
        <h2>location</h2>
    </body>

</htm>